* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 17px 0px;
    background-color: white;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_992 {
    display: none;
}

.header__navigation-list {
    display: flex;
}

.list__item {
    margin-right: 25px;
}

.list__item-link {
    color: black;
    text-decoration: none;
}

.list__item-link:hover {
    color: #EF7F04;
}

.header__buttons {
    display: flex;
}

.header__buttons-item {
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-size: 13px;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.header__buttons-item img {
    margin-right: 12px;
}

.header__buttons-item_theme-orange {
    background: #EF7F04;
}

.header__buttons-item_theme-orange:hover{
    background-color: chartreuse;
}

.header__buttons-item_theme-purple {
    background: #3B3A63;
}

.header__buttons-item_theme-purple:hover {
    background-color: fuchsia;
}

@media screen and (max-width: 992px) {
    .container {
        width: 992px;
    }

    .header {
        padding: 0px 0px;
        height: 99px;
    }

    .header-content {
        justify-content: left;
    }

    .header__navigation-list {
        display: none;
    }

    .menu_992 {
        display: block;
        margin-top: 31px;
        margin-left: 55px;
        align-items: center;
    }

    .menu_992:hover {
        width: 58px;
        height: 38px;
    }

    .header-logo {
        margin-left: 45px;
        margin-top: 17px;
        margin-right: 281px;
    }

    .header__buttons-item {
        margin-left: 14px;
        margin-top: 18px;
        width: 180px;
        height: 42px;
    }
}